---
import BaseLayout from "../layouts/BaseLayout.astro";

// src/pages/offline.astro
---

<BaseLayout>
      <html>
            <body>
                  <h1>You are offline</h1>
                  <p>This page was not cached. Please reconnect.</p>
            </body>
      </html>
</BaseLayout>
